

   


#back{
   
    background: linear-gradient(97.4deg, #3E2E26 10.97%, #8A5A44 98.63%);
    border-radius: 8px;
     color: rgb(252, 249, 249); 
    
    width: 950px;
    height: 350px;
    margin-left: 10%;
    
}



/* .img{
    height: 1000px;
    width: 500px;
    margin-top: 15%; 
    align-items: center;
} */
/* .img1{
    height: 280px;
    width: 560px;
    margin-top: 5%;
    
  
}
.img2{
    height: 280px;
    width: 435px;
   
    margin-top: 3.5%;
}
  .img3{
    height: 120px;
    width: 160px;
  
    margin-top: 5%;
    margin-right: initial;
} */
/*.img4{
    height: 120px;
    width: 200px;
   
}  */
/* .img5{
    height: 100%;
    width: 100%;

} */


